doctype html
html
    head 
        title myDanceAcademy
        block scripts 
        block style
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/img/logo.png")
                    | MDA
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Class Info ]
                li #[a(href="/") Services ]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer 
            | Copyright 2021 @ MyDanceAcademy.com. |All rights reserved.
